@charset "utf-8";
/* CSS Document */
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
	
font-family: 'Press Start 2P', cursive;

}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


header{
	
	width:100%;
	background-color:white;
	word-spacing:.5em;
	color:black;
	padding-top:.5%;
}

 header h1{
	text-align: center;
	font-size:1.2em;
	 margin-left: 2%;
	
}

body{
	width:100%;
	background-color:#000000;
	color:white;
}
img{
	width:100%;
}
.RPS{
	margin-top:1%;
	margin-right:4%;
}

.RPS a{
	margin-top:1%;
	
}
.rock img,.paper img,.scissors img{
	margin: 20px;
	border: 4px solid black;
	border-radius:90px;
	background-color:#ffffff;
	
}
.rock, .paper , .scissors  {
	display: inline-block;
	width:20%;
	
}
.rock  img:hover,.paper  img:hover,.scissors img:hover{
	background-color:#5e75ad;
}

.Winner h1{
	color:white;
	font-size:1.5em;
	
	
}
.winner{
	width:100%;
	margin-top:1%;
	line-height:1.5em;
	
}
.rock a, .paper a, .scissors a{
	font-size:1em;
}

.reset a{
	color:white;
	width:100%;
	font-size: 1.5em;
	margin-top: 1%;
}
.reset{
	margin-top: 1%;
}

@media only screen and (max-width:375px){
header{
	word-spacing:.1em;
	height:42px;
}

header h1{
	padding-top:15px;
	text-align: center;
	font-size:.8em;
	
}	
.RPS a{
	width:28%;
	display:block;
	margin-right:12%;
}	
	

.rock img:hover,.paper  img:hover,.scissors img:hover{
	background-color:#ffffff;
}
.paper img,.scissors img{
	margin-top:-11%;
}
.reset{
	margin-top:.2%;
	margin-bottom:1%;
}
.reset a{
	color:#ffffff;
	width:100%;
	font-size: .9em;
	
}
.Winner h1{
	color:white;
	font-size:.9em;
	
	
}
.winner{
	width:100%;
	margin-top:1%;
	line-height: 1.5em;
}
}
